h1
{
	font-size: 150px;
	font-family: 'Indie Flower', cursive;
	text-align: center;
	text-align: top;
	position: relative;
	top: -85px;
	
}
h2
{
	font-family: 'Indie Flower', cursive;
    font-size: 50px;
	text-decoration: none;
	position: relative;
	top: -20px;
	margin: 150px;
	text-align: left;
}
h3
{
	font-family: 'Indie Flower', cursive;
    font-size: 32px;
    text-decoration: underline;
	position: relative;
	top: -150px;
	margin: 150px;
	text-align: left;
}
.programme
{
font-family: 'Indie Flower', cursive;
font-size: 65px;
position: relative;
top: -150px;
text-align: center;	
}
.chapiteau
{
	text-align: center;
}


body
{
	background-image: url("fontss.png");
}
p
{

color: black;
font-family: 'Indie Flower', cursive;
font-size: 27px;
font-weight: bold;
position: relative;
top: -380px;
text-align: left;
background: rgba(255, 255, 255, 0.5);
border-radius: 10px;
margin: 250px;
left: -110px;

}
a
{
	color: blue;
	text-decoration: none;
}
a:hover
{
color: yellow;
text-decoration: underline;
}
section
{
background: rgba(255, 255, 255, 0.5);
padding: 40px;
margin: 200px;
border-radius: 10px;
margin-top: -200px;
margin-left: 120px;


	
}
article
{
	position: relative;
	top: -100px;
}
header img
{
	display: block; position: absolute; top: -250px; left: 150px; 
}

#navigation li {
  display: inline;
  font-size: 35px;
  position: relative;
  top: 270px;
  left: 290px;
  
 
}

ul#navigation li { 
display : inline;
padding : 0 0.9em; 
}
ul#navigation {
list-style-type : none; 
font-family: 'Indie Flower', cursive;
}
.nogent
{
	font-size: 35px;
	position: relative;
	top: -90px;
	text-align: left;
	left: 130px;
}
.clown
{
	position: relative;
	top: -130px;
	text-align: left;
    left: 130px;
	
}
.contorsioniste
{
	position: relative;
	top: -155px;
	text-align: left;
	left: 130px;
}
.fauve
{
	position: relative;
	top: -180px;
	text-align: left;
	left: 130px;
}
.igor
{
position: relative;
	top: -200px;
	text-align: left;
	left: 130px;	
}
.massue
{
	position: relative;
	top: -220px;
	text-align: left;
	left: 130px;
}
.final
{
	position: relative;
	top: -240px;
	text-align: left;
	left: 130px;
}


.heure
{
	color: red;
	font-size: 32px;
}
.heure2
{
	color: red;
	font-size: 32px;
}
.heure3
{
color: red;
	font-size: 32px;	
}
.heure4
{
	color: red;
	font-size: 32px;
}
.heure5
{
	color: red;
	font-size: 32px;
}
.heure6
{
	color: red;
	font-size: 32px;
}
.tarif
{
	color: red;
	font-size: 32px;
}


.reseaux_sociaux
{
	position: relative;
	top: -1140px;
	margin-left: 150px;
	
}
.banniere
{
	position: relative;
	top: -1265px;
	left: 150px;
	display: inline-block;
}
