h1
{
	font-size: 150px;
	font-family: 'Indie Flower', cursive;
	text-align: center;
	text-align: top;
	position: relative;
	top: -85px;
	
}
h2
{
	font-family: 'Indie Flower', cursive;
    font-size: 80px;
	text-decoration: underline;
	position: relative;
	top: -30px;
	margin: 150px;
	text-align: center;
}
h3
{
	font-family: 'Indie Flower', cursive;
    font-size: 32px;
    text-decoration: none;
	position: relative;
	top: -80px;
	margin: 150px;
}
.programme
{
font-family: 'Indie Flower', cursive;
font-size: 65px;
position: relative;
top: -20px;
text-align: center;	
}
.chapiteau
{
	text-align: center;
}


body
{
	background-image: url("fontss.png");
}
p
{

color: black;
font-family: 'Indie Flower', cursive;
font-size: 27px;
font-weight: bold;
position: relative;
top: -30px;
text-align: left;

}
a
{
	color: blue;
	text-decoration: none;
}
a:hover
{
color: yellow;
text-decoration: underline;
}
section
{
background: rgba(255, 255, 255, 0.5);
padding: 20px;
margin: 250px;
border-radius: 10px;
margin-top: -400px;
margin-left: 600px;
top: -90px;
position; relative;


	
}
article
{
	position: relative;
	top: -100px;
}
header img
{
	display: block; position: absolute; top: -250px; left: 150px; 
}

#navigation li {
  display: inline;
  font-size: 35px;
  position: relative;
  top: 270px;
  left: 290px;
  
 
}

ul#navigation li { 
display : inline;
padding : 0 0.9em; 
}
ul#navigation {
list-style-type : none; 
font-family: 'Indie Flower', cursive;
}


.heure
{
	color: red;
	font-size: 32px;
}
.heure2
{
	color: red;
	font-size: 32px;
}
.heure3
{
color: red;
	font-size: 32px;	
}
.heure4
{
	color: red;
	font-size: 32px;
}
.heure5
{
	color: red;
	font-size: 32px;
}
.heure6
{
	color: red;
	font-size: 32px;
}
.tarif
{
	color: red;
	font-size: 32px;
}
section{
	background: rgba(255, 255, 255, 0.5);
padding: -10px;
margin: 350px;
border-radius: 10px;
margin-top: -100px;
margin-left: 120px;
left: 130px;
position: relative;



}
.nl
{
	color: red;
	font-size: 32px;
}
.bl
{
color: red;
font-size: 32px;	
}
.fl
{
	color: red;
	font-size: 32px;
}
.pl
{
	color: red;
	font-size: 32px;
}
.at
{
	color: red;
	font-size: 32px;
}
.br
{
	color: red;
	font-size: 32px;
}
.br2
{
	color: red;
	font-size: 32px;
}
.us
{
	color: red;
	font-size: 32px;
}
.ca
{
	color: red;
	font-size: 32px;
}

.reseaux_sociaux
{
	position: relative;
	top: -1205px;
	margin-left: 150px;
	
}
.banniere
{
	position: relative;
	top: -1210px;
	left: 150px;
	display: inline-block;
}